<h1>User info</h1>
<div>
  <%= image_tag user.get_profile_image(100,100) %>
  <table>
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
  </table>
</div>

<h2>New book</h2>
<%= form_with model:book do |f| %>
  <p>Title</p>
  <%= f.text_field:title %><br>
  <p>Opinion</p>
  <%= f.text_area:body %><br>
  <%= f.submit'Create Book' %>
  <% end %>