<h1>Editing Book</h1>
<%= form_with model:@book do |f| %>
<%= f.label:title %><br>
  <%= f.text_field:book_name %><br>
  <%= f.label:opinion %><br>
  <%= f.text_field:body %><br>
  <%= f.submit'Update Book' %>
  <% end %>
